*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #303133;
  background: #f1f4f5;
  //background-color: #fff;
}
a {
  //color: mix(#fff, $--color-primary, 20%);
  text-decoration: none;
  //color: #606266;
  &:focus,
  &:hover {
    color: $--color-primary;
    text-decoration: underline;
  }
}
img {
  vertical-align: middle;
}


/* Utils
------------------------------ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}


/* Animation
------------------------------ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


/* Reset element-ui
------------------------------ */
.el-button--text {
  color: #409EFF;
  &:hover {
    color: #409EFF;
  }
}
.site-wrapper {
  .el-pagination {
    margin-top: 15px;
    text-align: right;
  }
}


/* Layout
------------------------------ */
.site-wrapper {
  position: relative;
  min-width: 1180px;
}

// 重写样式 公共
.el-tabs__active-bar {
  background-color: #409eff;
}
 .el-tabs__item.is-active {
   color: #409eff;
 }
.el-tabs__item {
  &:hover {
    color: #409eff;
    background-color: rgba(64 ,158 ,255 ,0.2);
  }
}
.el-tag {
  color: #409eff;
}
.el-tag--danger {
  color: red;
}
.el-tag--success {
  color: #67c23a;
}

.el-input__inner {
  &:active {
    border: 1px solid rgba(64 ,158 ,255 ,0.5);
  }
  &:hover {
    border: 1px solid rgba(64 ,158 ,255 ,0.5);
  }
  &:focus {
    border: 1px solid rgba(64 ,158 ,255 ,0.5);
  }
}
.el-form-item.is-success .el-input__inner {
  border: 1px solid rgba(64 ,158 ,255 ,0.5);
}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
  border: 1px solid rgba(64 ,158 ,255 ,0.5);
}
.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
  border: 1px solid rgba(64 ,158 ,255 ,0.5);
}

.el-button:focus,.el-button:hover {
  background-color: #fff;
  border-color: #409eff;
  color: #409eff;
}
.el-button--text {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: transparent;
  }
}
.el-button--primary {
  background-color: #409eff;
  border: 1px solid #409eff;
  color: #fff;
  &:hover {
    color: #409eff;
    background-color: rgba(64 ,158 ,255 ,0.1);
    border: 1px solid #409eff;
  }
  &:focus {
    color: #fff;
    background-color: #409eff;
  }
}
.el-button--text:focus {
  color: #409eff;
}
.el-button--medium {
  &:hover {
    //color: #409eff;
    //border: 1px solid #409eff;
  }
}

.el-table__body tr.hover-row>td {
  background-color: rgba(64 ,158 ,255 ,0.1);
}

.el-checkbox__inner:hover {
  border-color: #409eff;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #409eff;
  border-color: #409eff;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #409eff;
  border-color: #409eff;
}

.el-pager li.active {
  color: #409eff;
}
.el-pager li:hover {
  color: #409eff;
}
.el-pagination__sizes .el-input .el-input__inner:hover, .el-select .el-input.is-focus .el-input__inner, .el-select .el-input__inner:focus {
  border-color: #409eff;
}
.el-select-dropdown__item.selected {
  color: #409eff;
}

.el-radio__input.is-checked .el-radio__inner {
  color: #409eff;
  background-color: #409eff;
}
.el-radio__inner {
  &:hover {
    border: 1px solid rgb(64 ,158 ,255);
  }
}
.el-radio__input.is-checked+.el-radio__label {
  color: #409eff;
}

.el-upload-dragger .el-upload__text em {
  color: #409eff;
}
.el-upload-dragger:hover {
  border-color: #409eff;
}

/* Sidebar fold
------------------------------ */
.site-sidebar--fold {
  .site-navbar__header,
  .site-navbar__brand,
  .site-sidebar,
  .site-sidebar__inner,
  .el-menu.site-sidebar__menu {
    width: 64px;
  }
  .site-navbar__body,
  .site-content__wrapper {
    margin-left: 64px;
  }
  .site-navbar__brand {
    &-lg {
      display: none;
    }
    &-mini {
      display: inline-block;
    }
  }
  .site-sidebar,
  .site-sidebar__inner {
    overflow: initial;
  }
  .site-sidebar__menu-icon {
    margin-right: 0;
    font-size: 20px;
  }
  .site-content--tabs > .el-tabs > .el-tabs__header {
    left: 64px;
  }
}
// animation
.site-navbar__header,
.site-navbar__brand,
.site-navbar__body,
.site-sidebar,
.site-sidebar__inner,
.site-sidebar__menu.el-menu,
.site-sidebar__menu-icon,
.site-content__wrapper,
.site-content--tabs > .el-tabs .el-tabs__header {
  transition: inline-block .3s, left .3s, width .3s, margin-left .3s, font-size .3s;
}


/* Navbar
------------------------------ */
// 重写样式
.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover {
  background: transparent;
}
.el-menu--horizontal>.el-menu-item {
  color: #fff;
}
.el-menu--horizontal>.el-submenu .el-submenu__title {
  color: #fff;
  a {
    color: #606266;
  }
}
.site-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
  //background: linear-gradient(45deg,#feac5e,#c779d0,#4bc0c8);
  //background-color: $navbar--background-color;

  &--inverse {
    .site-navbar__body {
      background-color: transparent;
    }
    .el-menu {
      > .el-menu-item,
      > .el-submenu > .el-submenu__title {
        color: #fff;
        &:focus,
        &:hover {
          color: #fff;
          background: transparent;
          //background-color: mix(#000, $--color-primary, 15%);
        }
      }
      > .el-menu-item.is-active,
      > .el-submenu.is-active > .el-submenu__title {
        background: transparent;
        &:hover {
          background: transparent;
        }
        //border-bottom-color: mix(#fff, $--color-primary, 85%);
      }
      .el-menu-item i,
      .el-submenu__title i,
      .el-dropdown {
        color: #fff;
        &:hover {
          background: transparent;
        }
      }
    }
    .el-menu--popup-bottom-start {
      //background-color: $navbar--background-color;
      background-color: $--color-primary;
    }
  }

  &__header {
    position: relative;
    float: left;
    width: 230px;
    height: 50px;
    overflow: hidden;
  }
  &__brand {
    display: table-cell;
    vertical-align: middle;
    width: 230px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;

    &-lg,
    &-mini {
      margin: 0 5px;
      color: #fff;
      &:focus,
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
    &-mini {
      display: none;
    }
  }
  &__switch {
    font-size: 18px;
    border-bottom: none !important;
  }
  &__avatar {
    border-bottom: none !important;
    * {
      vertical-align: inherit;
    }
    .el-dropdown-link {
      > img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-radius: 100%;
        vertical-align: middle;
      }
    }
  }
  &__body {
    position: relative;
    //margin-left: 230px;
    padding-right: 15px;
    height: 50px;
    //background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    //background-color: #fff;
    //background: linear-gradient(45deg,#feac5e,#c779d0,#4bc0c8);
    //background: linear-gradient(45deg,#feac5e,#c779d0,#4bc0c8);
    //background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    //background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; background-blend-mode: multiply,multiply;
  }


  &__menu {
    float: left;
    margin-top: 20px;
    background-color: transparent;
    border-bottom: 0;

    &--right {
      margin-top: -2px;
      //margin-top: 20px;
      float: right;
    }
    a:focus,
    a:hover {
      background-color: transparent;
      text-decoration: none;
    }
    .el-menu-item,
    .el-submenu > .el-submenu__title {
      height: 50px;
      line-height: 50px;
      &:hover {
        background: transparent;
      }
    }
    .el-submenu > .el-menu {
      top: 55px;
    }
    .el-badge {
      display: inline;
      z-index: 2;
      &__content {
        line-height: 16px;
      }
    }
  }
}


/* Sidebar
------------------------------ */
.site-sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  z-index: 1020;
  width: 230px;
  overflow: hidden;

  &--dark,
  &--dark-popper {
    //background-color: #ffffff;
    background-color: $sidebar--background-color-dark;
    //background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    .site-sidebar__menu.el-menu,
    > .el-menu--popup {
      background-color: $sidebar--background-color-dark;
      //background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
      .el-menu-item,
      .el-submenu > .el-submenu__title {
        color: $sidebar--color-text-dark;
        //background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
        &:focus,
        &:hover {
          background: transparent;
          color: mix(#fff, $sidebar--color-text-dark, 50%);
          //background-color: mix(#fff, $sidebar--background-color-dark, 2.5%);
        }
      }
      .el-menu,
      .el-submenu.is-opened {
        //background-color: mix(#000, #ffffff, 15%);
        background-color: mix(#000, $sidebar--background-color-dark, 15%);
        &:hover {
          background: transparent;
        }
      }
      .el-menu-item.is-active,
      .el-submenu.is-active > .el-submenu__title {
        color: mix(#fff, $sidebar--color-text-dark, 80%);
        &:hover {
          background: transparent;
        }
      }
    }
  }
  &__inner {
    position: relative;
    z-index: 1;
    overflow-y: auto;
    width: 250px;
    height: 100%;
    padding-bottom: 15px;
  }
  &__menu.el-menu {
    width: 230px;
    border-right: 0;
  }
  &__menu-icon {
    width: 24px;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
    color: inherit !important;
  }
}


/* Content
------------------------------ */
.site-content {
  position: relative;
  padding: 15px;

  &__wrapper {
    position: relative;
    padding-top: 50px;
    //width: 1600px;
    margin-left: 230px;
    min-height: 100%;
    //margin: 0 auto;
    background: #f1f4f5;
    //background: $content--background-color;
  }
  &--tabs {
    padding: 55px 0 0;
  }
  > .el-tabs {
    > .el-tabs__header {
      position: fixed;
      top: 50px;
      left: 0;
      left: 230px;
      right: 0;
      z-index: 930;
      padding: 0 55px 0 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
      background-color: #fff;
      > .el-tabs__nav-wrap {
        margin-bottom: 0;
        &:after {
          display: none;
        }
      }
    }
    > .el-tabs__content {
      padding: 0 15px 15px;
      > .site-tabs__tools {
        position: fixed;
        top: 50px;
        right: 0;
        z-index: 931;
        height: 40px;
        padding: 0 12px;
        font-size: 16px;
        line-height: 40px;
        background-color: $content--background-color;
        cursor: pointer;
        .el-icon--right {
          margin-left: 0;
        }
      }
    }
  }
}
.el-table__expand-icon {
  display: inline-block;
  width: 14px;
  vertical-align: middle;
  margin-right: 5px;
}
